*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

.navbar{
    position: fixed; 
    width:100%;
    background:00;
    font-family: 'Ubuntu',sans-serif; 
}
.navbar .logo a{
    colour:#fff;
    font-size: 35px;
    font-weight: 600;
}
.ul .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a {
    colour:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
img{
    border-radius: 50%;
    width:35%; 
}





  